.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #46525E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
    box-sizing: border-box;
    flex-direction: column;
}

.grid {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    height: auto;
}

.row {
    margin: 0!important;
}

.result-field {
    text-decoration-color: wheat;
    min-height: 300px;
    position: relative;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#basic-addon4 {
    color: rgba(245, 222, 179, 0.29);
}

#basic-addon3 {
    color: rgba(49, 49, 49, 0.47);
    font-size: smaller;
}

.link-info {
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.out-fields {
    display: flex;
    justify-content: space-between;
}

.out-default-item {
    color: rgba(243, 199, 116, 0.65);
}

.footer {
    color: white;
    font-size: 0.75rem;
    text-align: right;
}