* { margin: 0;
    padding: 0;}

image {
    vertical-align: top;

}

ul,
ol,
li {
    list-style: none;
}

*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}